In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://cloud.minsa.gob.pe/s/ZgXoXqK2KLjRLxD/download',usecols=['FECHA_CORTE', 'EDAD', 'SEXO',
       'FECHA_VACUNACION', 'DOSIS', 'DEPARTAMENTO'],parse_dates=['FECHA_CORTE','FECHA_VACUNACION'])
#df=pd.read_csv('vacunas_covid.csv')
df.columns

Index(['FECHA_CORTE', 'EDAD', 'SEXO', 'FECHA_VACUNACION', 'DOSIS',
       'DEPARTAMENTO'],
      dtype='object')

In [9]:
df.head()

  FECHA_CORTE  EDAD       SEXO FECHA_VACUNACION  DOSIS DEPARTAMENTO
0  2021-05-21   NaN  MASCULINO       2021-02-22      1         LIMA
1  2021-05-21   NaN  MASCULINO       2021-03-10      1  LA LIBERTAD
2  2021-05-21   NaN  MASCULINO       2021-02-27      1      HUANUCO
3  2021-05-21   NaN   FEMENINO       2021-04-17      1         LIMA
4  2021-05-21  81.0   FEMENINO       2021-04-22      1      UCAYALI

In [21]:
FECHA_CORTE=df['FECHA_CORTE'].unique()
FECHA_CORTE=pd.to_datetime(FECHA_CORTE[0]).strftime('%Y-%m-%d')
FECHA_CORTE

'2021-05-21'

In [22]:
df.groupby(['FECHA_VACUNACION','DOSIS']).count()

                        FECHA_CORTE   EDAD   SEXO  DEPARTAMENTO
FECHA_VACUNACION DOSIS
2021-02-09       1             3842   3841   3842          3842
2021-02-10       1            16586  16578  16586         16586
2021-02-11       1            34118  34109  34118         34118
2021-02-12       1            32301  32283  32301         32301
2021-02-13       1            18808  18784  18808         18808
...                             ...    ...    ...           ...
2021-05-19       2            14735  14426  14735         14735
2021-05-20       1            61856  61193  61856         61856
                 2            10394  10332  10394         10394
2021-05-21       1            69387  68591  69387         69387
                 2            30917  30836  30917         30917

[183 rows x 4 columns]

In [46]:
df_ambas_dosis=df[['FECHA_VACUNACION','DOSIS','SEXO']].groupby(['FECHA_VACUNACION','DOSIS']).count()
df_ambas_dosis=df_ambas_dosis.reset_index()
df_ambas_dosis.iloc[88*2]

FECHA_VACUNACION    2021-05-18 00:00:00
DOSIS                                 2
SEXO                               8171
Name: 176, dtype: object

In [24]:
ga=df_ambas_dosis.loc[((df_ambas_dosis['FECHA_VACUNACION']=='2021-05-20')&
                            (df_ambas_dosis['DOSIS']==1))]['SEXO'].values[0]
ga

61856

In [36]:
df_ambas_dosis.loc[((df_ambas_dosis['FECHA_VACUNACION']=='2021-05-20')&
                        (df_ambas_dosis['DOSIS']==2))]['SEXO'].values[0]

10394

In [38]:
df_ambas_dosis_columnas=pd.DataFrame(columns=['FECHA_CORTE','FECHA_VACUNACION','DOSIS1','DOSIS2'])
df_ambas_dosis_columnas['FECHA_VACUNACION']=df_ambas_dosis['FECHA_VACUNACION'].unique()


for day in df_ambas_dosis_columnas['FECHA_VACUNACION']:

    day_fixed=day.strftime('%Y-%m-%d')
    try:
        # DOSIS1
        value=df_ambas_dosis.loc[((df_ambas_dosis['FECHA_VACUNACION']==day_fixed)&
                                (df_ambas_dosis['DOSIS']==1))]['SEXO'].values[0]
        df_ambas_dosis_columnas.loc[df_ambas_dosis_columnas['FECHA_VACUNACION']==day_fixed,'DOSIS1']=value
        # DOSIS2
        value=df_ambas_dosis.loc[((df_ambas_dosis['FECHA_VACUNACION']==day_fixed)&
                                (df_ambas_dosis['DOSIS']==2))]['SEXO'].values[0]
        df_ambas_dosis_columnas.loc[df_ambas_dosis_columnas['FECHA_VACUNACION']==day_fixed,'DOSIS2']=value
    except Exception as e:
        print(day_fixed,e)

2021-02-09 index 0 is out of bounds for axis 0 with size 0
2021-02-10 index 0 is out of bounds for axis 0 with size 0
2021-02-11 index 0 is out of bounds for axis 0 with size 0
2021-02-12 index 0 is out of bounds for axis 0 with size 0
2021-02-13 index 0 is out of bounds for axis 0 with size 0
2021-02-14 index 0 is out of bounds for axis 0 with size 0
2021-02-15 index 0 is out of bounds for axis 0 with size 0
2021-02-16 index 0 is out of bounds for axis 0 with size 0
2021-02-17 index 0 is out of bounds for axis 0 with size 0
2021-02-18 index 0 is out of bounds for axis 0 with size 0
2021-02-19 index 0 is out of bounds for axis 0 with size 0
2021-02-20 index 0 is out of bounds for axis 0 with size 0
2021-02-21 index 0 is out of bounds for axis 0 with size 0
2021-02-22 index 0 is out of bounds for axis 0 with size 0
2021-02-23 index 0 is out of bounds for axis 0 with size 0
2021-02-24 index 0 is out of bounds for axis 0 with size 0
2021-02-25 index 0 is out of bounds for axis 0 with size 0
2021-02-26 index 0 is out of bounds for axis 0 with size 0
2021-02-27 index 0 is out of bounds for axis 0 with size 0
2021-02-28 index 0 is out of bounds for axis 0 with size 0
2021-03-01 index 0 is out of bounds for axis 0 with size 0

In [39]:
df_ambas_dosis_columnas[df_ambas_dosis_columnas['FECHA_VACUNACION']=='2021-02-09']

  FECHA_CORTE FECHA_VACUNACION DOSIS1 DOSIS2
0         NaN       2021-02-09   3842    NaN

In [44]:
df_ambas_dosis_columnas=df_ambas_dosis_columnas.fillna(0)
df_ambas_dosis_columnas.iloc[88]

FECHA_CORTE                           0
FECHA_VACUNACION    2021-05-08 00:00:00
DOSIS1                            56807
DOSIS2                            20994
Name: 88, dtype: object

In [ ]:
# Please write the full query on one line
# DOSIS 1 y 2
query_dosis="""select FECHA_CORTE, FECHA_VACUNACION, count (case when DOSIS = 1 then 1 end) as DOSIS1, count (case when DOSIS = 2 then 1 end) as DOSIS2 from df group by FECHA_VACUNACION """
result_query_dosis=pd.read_sql(query_dosis,locals())
print(ps.sqldf(query_dosis,locals()))

In [147]:
# Please write the full query on one line
# ACUMULADOS DOSIS 1 Y 2
query_acumulados="""select FECHA_CORTE, FECHA_VACUNACION, sum(count (case when DOSIS = 1 then 1 end)) over (order by FECHA_VACUNACION) as ACUMULADO1, sum(count (case when DOSIS = 2 then 1 end)) over (order by FECHA_VACUNACION) as ACUMULADO2 from df group by FECHA_VACUNACION"""
result_query_acumulados=ps.sqldf(query_acumulados,locals())
print(ps.sqldf(query_acumulados,locals()))

    FECHA_CORTE  FECHA_VACUNACION  ACUMULADO1  ACUMULADO2
0      20210509          20210209        3842           0
1      20210509          20210210       20437           0
2      20210509          20210211       54285           0
3      20210509          20210212       86626           0
4      20210509          20210213      105525           0
..          ...               ...         ...         ...
85     20210509          20210505     1279294      664983
86     20210509          20210506     1310944      666522
87     20210509          20210507     1335308      676300
88     20210509          20210508     1374707      688940
89     20210509          20210509     1387718      699745

[90 rows x 4 columns]

In [148]:
# Please write the full query on one line
# ACUMULADO DEPARTAMENTOS
query_departamentos="""select FECHA_CORTE, DEPARTAMENTO, count (case when DOSIS = 1 then 1 end) as DOSIS1, count (case when DOSIS = 2 then 1 end) as DOSIS2 from df group by DEPARTAMENTO"""
result_query_departamentos=ps.sqldf(query_departamentos,locals())
print(ps.sqldf(query_departamentos,locals()))

    FECHA_CORTE   DEPARTAMENTO  DOSIS1  DOSIS2
0      20210509       AMAZONAS   17836    5408
1      20210509         ANCASH   31651   17966
2      20210509       APURIMAC   32575    7443
3      20210509       AREQUIPA   49573   32377
4      20210509       AYACUCHO   38371    9311
5      20210509      CAJAMARCA   24896   14556
6      20210509         CALLAO  102207   64590
7      20210509          CUSCO   24862   13890
8      20210509   HUANCAVELICA   27343    6162
9      20210509        HUANUCO   30995    9326
10     20210509            ICA   32515   16020
11     20210509          JUNIN   32252   18920
12     20210509    LA LIBERTAD   56809   28028
13     20210509     LAMBAYEQUE   31428   13614
14     20210509           LIMA  677985  355381
15     20210509         LORETO   26803   15870
16     20210509  MADRE DE DIOS    5359    2379
17     20210509       MOQUEGUA    6425    4193
18     20210509          PASCO   12009    3598
19     20210509          PIURA   41847   19875
20     20210509           PUNO   20134   10375
21     20210509     SAN MARTIN   20267   13570
22     20210509          TACNA   12789    6599
23     20210509         TUMBES   13741    4670
24     20210509        UCAYALI   17046    5624

In [149]:
# Please write the full query on one line
# ACUMULADO DEPARTAMENTOS POR SEXO
query_departamentos_sexo="""select FECHA_CORTE, DEPARTAMENTO, count (case when SEXO = 'MASCULINO' and DOSIS = 2 then 1 end) as DOSIS2_M, count (case when SEXO = 'FEMENINO' and DOSIS = 2 then 1 end) as DOSIS2_F from df group by DEPARTAMENTO"""
result_query_departamentos_sexo=ps.sqldf(query_departamentos_sexo,locals())
print(ps.sqldf(query_departamentos_sexo,locals()))

    FECHA_CORTE   DEPARTAMENTO  DOSIS2_M  DOSIS2_F
0      20210509       AMAZONAS      2182      3226
1      20210509         ANCASH      8475      9491
2      20210509       APURIMAC      2727      4716
3      20210509       AREQUIPA     15648     16729
4      20210509       AYACUCHO      3531      5780
5      20210509      CAJAMARCA      5341      9215
6      20210509         CALLAO     39757     24833
7      20210509          CUSCO      4716      9174
8      20210509   HUANCAVELICA      2456      3706
9      20210509        HUANUCO      3422      5904
10     20210509            ICA      6644      9376
11     20210509          JUNIN      6953     11967
12     20210509    LA LIBERTAD     12478     15550
13     20210509     LAMBAYEQUE      4976      8638
14     20210509           LIMA    176275    179106
15     20210509         LORETO      8131      7739
16     20210509  MADRE DE DIOS       915      1464
17     20210509       MOQUEGUA      1393      2800
18     20210509          PASCO      1320      2278
19     20210509          PIURA      7846     12029
20     20210509           PUNO      3790      6585
21     20210509     SAN MARTIN      5640      7930
22     20210509          TACNA      3106      3493
23     20210509         TUMBES      2694      1976
24     20210509        UCAYALI      2384      3240

In [150]:
# ACUMULADO POR GRUPO ETARIO
bins = [18,20,30,40,50,60,70,80,df['EDAD'].max()+1]
labels = ['18 a 19 años','20 a 29 años','30 a 39 años','40 a 49 años','50 a 59 años','60 a 69 años','70 a 79 años','80 años a más']
poblacion_por_grupo_etario = [900000,5700000,5300000,4400000,3300000,2300000,1300000,700000] 
result_df_edades = df
result_df_edades.drop(['SEXO', 'FECHA_VACUNACION', 'DEPARTAMENTO'], axis=1, inplace=True)
result_df_edades['GRUPO_ETARIO'] = pd.cut(df['EDAD'], bins=bins, labels=labels, right=False)
result_query_edades = result_df_edades[result_df_edades.DOSIS == 2].groupby(['GRUPO_ETARIO'])["DOSIS"].count().reset_index()
result_query_edades['POBLACION']=poblacion_por_grupo_etario
result_query_edades['%']=round(result_query_edades['DOSIS']/result_query_edades['POBLACION']*100,2)
df

TypeError: 'NoneType' object does not support item assignment

In [69]:
col_poblacion_m=[219801,
594832,
220370,
735707,
341951,
727265,
550046,
686543,
184121,
384345,
488836,
678494,
1000002,
638228,
5119560,
531000,
98215,
102855,
140252,
1030975,
611616,
474458,
188152,
135675,
307596]

col_poblacion_f=[207005,
585806,
210366,
761731,
326262,
726446,
579808,
670532,
181196,
375922,
486346,
682973,
1016769,
672557,
5508910,
496559,
75596,
89885,
131652,
1016979,
626381,
425190,
182822,
115846,
281514]

In [70]:
result_query_departamentos_sexo['POB_M']=col_poblacion_m
result_query_departamentos_sexo['POB_F']=col_poblacion_f
result_query_departamentos['POBLACION']=result_query_departamentos_sexo['POB_M'] + result_query_departamentos_sexo['POB_F']

In [71]:
result_query_departamentos['INDICE']=round(result_query_departamentos['DOSIS2']/(result_query_departamentos['POBLACION']/100000)).astype('int')
a = result_query_departamentos_sexo['POB_M']/result_query_departamentos_sexo['POB_F']
result_query_departamentos_sexo['INDICE_M']=round(result_query_departamentos_sexo['DOSIS2_M']/(result_query_departamentos_sexo['POB_M']/(a*100000/(a+1)))).astype('int')
result_query_departamentos_sexo['INDICE_F']=round(result_query_departamentos_sexo['DOSIS2_F']/(result_query_departamentos_sexo['POB_F']/(100000/(a+1)))).astype('int')

In [72]:
result_query_departamentos

    FECHA_CORTE   DEPARTAMENTO  DOSIS1  DOSIS2  POBLACION  INDICE
0      20210509       AMAZONAS   17836    5408     426806    1267
1      20210509         ANCASH   31651   17966    1180638    1522
2      20210509       APURIMAC   32575    7443     430736    1728
3      20210509       AREQUIPA   49573   32377    1497438    2162
4      20210509       AYACUCHO   38371    9311     668213    1393
5      20210509      CAJAMARCA   24896   14556    1453711    1001
6      20210509         CALLAO  102207   64590    1129854    5717
7      20210509          CUSCO   24862   13890    1357075    1024
8      20210509   HUANCAVELICA   27343    6162     365317    1687
9      20210509        HUANUCO   30995    9326     760267    1227
10     20210509            ICA   32515   16020     975182    1643
11     20210509          JUNIN   32252   18920    1361467    1390
12     20210509    LA LIBERTAD   56809   28028    2016771    1390
13     20210509     LAMBAYEQUE   31428   13614    1310785    1039
14     20210509           LIMA  677985  355381   10628470    3344
15     20210509         LORETO   26803   15870    1027559    1544
16     20210509  MADRE DE DIOS    5359    2379     173811    1369
17     20210509       MOQUEGUA    6425    4193     192740    2175
18     20210509          PASCO   12009    3598     271904    1323
19     20210509          PIURA   41847   19875    2047954     970
20     20210509           PUNO   20134   10375    1237997     838
21     20210509     SAN MARTIN   20267   13570     899648    1508
22     20210509          TACNA   12789    6599     370974    1779
23     20210509         TUMBES   13741    4670     251521    1857
24     20210509        UCAYALI   17046    5624     589110     955

In [73]:
result_query_departamentos_sexo

,FECHA_CORTE,DEPARTAMENTO,DOSIS2_M,DOSIS2_F,POB_M,POB_F,INDICE_M,INDICE_F
0,20210509,AMAZONAS,2182,3226,219801,207005,511,756
1,20210509,ANCASH,8475,9491,594832,585806,718,804
2,20210509,APURIMAC,2727,4716,220370,210366,633,1095
3,20210509,AREQUIPA,15648,16729,735707,761731,1045,1117
4,20210509,AYACUCHO,3531,5780,341951,326262,528,865
5,20210509,CAJAMARCA,5341,9215,727265,726446,367,634
6,20210509,CALLAO,39757,24833,550046,579808,3519,2198
7,20210509,CUSCO,4716,9174,686543,670532,348,676
8,20210509,HUANCAVELICA,2456,3706,184121,181196,672,1014
9,20210509,HUANUCO,3422,5904,384345,375922,450,777
10,20210509,ICA,6644,9376,488836,486346,681,961
11,20210509,JUNIN,6953,11967,678494,682973,511,879
12,20210509,LA LIBERTAD,12478,15550,1000002,1016769,619,771
13,20210509,LAMBAYEQUE,4976,8638,638228,672557,380,659
14,20210509,LIMA,176275,179106,5119560,5508910,1659,1685
15,20210509,LORETO,8131,7739,531000,496559,791,753
16,20210509,MADRE DE DIOS,915,1464,98215,75596,526,842
17,20210509,MOQUEGUA,1393,2800,102855,89885,723,1453
18,20210509,PASCO,1320,2278,140252,131652,485,838
19,20210509,PIURA,7846,12029,1030975,1016979,383,587
20,20210509,PUNO,3790,6585,611616,626381,306,532
21,20210509,SAN MARTIN,5640,7930,474458,425190,627,881
22,20210509,TACNA,3106,3493,188152,182822,837,942
23,20210509,TUMBES,2694,1976,135675,115846,1071,786
24,20210509,UCAYALI,2384,3240,307596,281514,405,550

In [74]:
result_query_dosis.to_csv('resultados/dosis1y2.csv')
result_query_acumulados.to_csv('resultados/acumulados1y2.csv')
result_query_departamentos.to_csv('resultados/departamentos.csv')
result_query_departamentos_sexo.to_csv('resultados/departamentos_sexo.csv')
result_query_edades.to_csv('resultados/dosis2_por_edades.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'resultados/dosis1y2.csv'