In [2]:
import pandas as pd
#df=pd.read_csv('https://cloud.minsa.gob.pe/s/To2QtqoNjKqobfw/download', usecols=['FECHA_CORTE', 'EDAD', 'SEXO', 'FECHA_VACUNACION', 'DOSIS', 'DEPARTAMENTO', 'FABRICANTE'],parse_dates=['FECHA_VACUNACION'])
df=pd.read_csv('vacunas_covid.csv', usecols=['FECHA_CORTE', 'EDAD', 'SEXO', 'FECHA_VACUNACION', 'DOSIS', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'FABRICANTE'], parse_dates=['FECHA_VACUNACION'])
fecha_corte=df['FECHA_CORTE'].drop_duplicates().set_axis(['fecha_corte'])
#fecha_corte.to_json("../resultados/fecha_corte.json")

In [6]:
#DIARIO DOSIS 1 Y DOSIS 2
df_ambas_dosis=df[['FECHA_VACUNACION','DOSIS','SEXO']].groupby(['FECHA_VACUNACION','DOSIS']).count()
df_ambas_dosis=df_ambas_dosis.reset_index()
df_ambas_dosis=df_ambas_dosis[df_ambas_dosis['DOSIS'].isin([1,2,3])]
df_ambas_dosis=df_ambas_dosis.pivot(index='FECHA_VACUNACION', columns='DOSIS', values='SEXO')
df_ambas_dosis=df_ambas_dosis.rename_axis(None, axis=1)
df_ambas_dosis.columns=['DOSIS1','DOSIS2','DOSIS3']
df_ambas_dosis=df_ambas_dosis.fillna(0).astype('int')
df_ambas_dosis

    FECHA_VACUNACION  DOSIS   SEXO
0         2021-02-08      1      5
1         2021-02-09      1   3844
2         2021-02-10      1  16573
3         2021-02-10      2      1
4         2021-02-11      1  34122
..               ...    ...    ...
639       2021-12-04      2  91321
640       2021-12-04      3  84745
643       2021-12-05      1  28063
644       2021-12-05      2  52435
645       2021-12-05      3  43226

[642 rows x 3 columns]

In [5]:
#ACUMULADO DOSIS 1 Y DOSIS 2
df_ambas_dosis_cum=df_ambas_dosis.cumsum()
df_ambas_dosis_cum

                    DOSIS1    DOSIS2  DOSIS3
FECHA_VACUNACION
2021-02-08               4         0       0
2021-02-09            3850         0       0
2021-02-10           20432         1       0
2021-02-11           54529         1       0
2021-02-12           86894         1       0
...                    ...       ...     ...
2021-10-13        17437285  13666806       0
2021-10-14        17512897  13764230       0
2021-10-15        17586584  13848718   18176
2021-10-16        17704502  13952801   39545
2021-10-17        17791122  14018765   48627

[252 rows x 3 columns]

In [11]:
col_poblacion=[426806,
1180638,
430736,
1497438,
668213,
1453711,
1129854,
1357075,
365317,
760267,
975182,
1361467,
2016771,
1310785,
10628470,
1027559,
173811,
192740,
271904,
2047954,
1237997,
899648,
370974,
251521,
589110]

In [12]:
# ACUMULADO POR DEPARTAMENTO (DOSIS 2 - VACUNACION COMPLETA)
df_ambas_dosis_departamento=df[['DEPARTAMENTO','DOSIS','SEXO']].groupby(['DEPARTAMENTO', 'DOSIS']).count()
df_ambas_dosis_departamento=df_ambas_dosis_departamento.reset_index()
df_ambas_dosis_departamento=df_ambas_dosis_departamento[df_ambas_dosis_departamento['DOSIS'].isin([1,2,3])]
df_ambas_dosis_departamento=df_ambas_dosis_departamento.pivot(index='DEPARTAMENTO', columns='DOSIS', values='SEXO')
df_ambas_dosis_departamento.columns=['DOSIS1','DOSIS2','DOSIS3']
df_ambas_dosis_departamento['POBLACION']=col_poblacion
df_ambas_dosis_departamento['INDICE']=round(df_ambas_dosis_departamento['DOSIS2']/(df_ambas_dosis_departamento['POBLACION']/100000)).astype('int')
df_ambas_dosis_departamento=df_ambas_dosis_departamento.fillna(0).astype('int')
df_ambas_dosis_departamento

                DOSIS1   DOSIS2  DOSIS3  DOSIS4  DOSIS5  POBLACION  INDICE
DEPARTAMENTO
AMAZONAS        239364   198953    8560       0       0     426806   46614
ANCASH          880964   771454   43407       0       0    1180638   65342
APURIMAC        322359   253961   14489       0       0     430736   58960
AREQUIPA       1104727   966331   71505       1       0    1497438   64532
AYACUCHO        377943   282865    7450       0       0     668213   42332
CAJAMARCA       941990   743304   24876       0       0    1453711   51131
CALLAO         1003441   879502   85297       0       0    1129854   77842
CUSCO           906721   734301   33031       0       0    1357075   54109
HUANCAVELICA    224707   172347    6284       0       0     365317   47177
HUANUCO         461049   343241   17490       0       0     760267   45147
ICA             726071   636767   54158       0       0     975182   65297
JUNIN           911614   784297   47134       0       0    1361467   57607
LA LIBERTAD    1316741  1098821   87857       0       0    2016771   54484
LAMBAYEQUE      866272   698721   28094       0       0    1310785   53306
LIMA           8338315  7193697  687372       4       1   10628470   67683
LORETO          536266   387443   19188       0       0    1027559   37705
MADRE DE DIOS    95005    61471    2574       0       0     173811   35367
MOQUEGUA        142272   122122   12422       0       0     192740   63361
PASCO           173611   143675    4242       0       0     271904   52840
PIURA          1333668  1060445   56293       0       0    2047954   51781
PUNO            571577   409939    9737       0       0    1237997   33113
SAN MARTIN      570345   457555   17502       0       0     899648   50859
TACNA           256635   224591   14900       0       0     370974   60541
TUMBES          181722   140878    4922       0       0     251521   56010
UCAYALI         316277   231657    8889       0       0     589110   39323

In [10]:
# ACUMULADO POR GRUPO ETARIO (DOSIS 2 - VACUNACION COMPLETA)
bins = [12,18,30,40,50,60,70,80,df['EDAD'].max()+1]
labels = ['12 a 17 años','18 a 29 años','30 a 39 años','40 a 49 años','50 a 59 años','60 a 69 años','70 a 79 años','80 años a más']
poblacion_por_grupo_etario = [3138353,6303670,5031117,4183174,3277134,2221241,1271842,647355] 
df_edades = df
df_edades['GRUPO_ETARIO'] = pd.cut(df['EDAD'], bins=bins, labels=labels, right=False)
df_edades = df_edades[df_edades.DOSIS == 2].groupby(['GRUPO_ETARIO'])["DOSIS"].count().reset_index()
df_edades.rename(columns = {'DOSIS':'DOSIS2'}, inplace = True)
df_edades['POBLACION']=poblacion_por_grupo_etario
df_edades['PORCENTAJE']=round(df_edades['DOSIS2']/df_edades['POBLACION']*100,2)
df_edades=df_edades.set_index('GRUPO_ETARIO')
df_edades

                     DOSIS2  POBLACION  PORCENTAJE
GRUPO_ETARIO
Menores de 18 años    63944    9690442        0.66
18 a 29 años        1911673    6303670       30.33
30 a 39 años        2872526    5031117       57.10
40 a 49 años        3090581    4183174       73.88
50 a 59 años        2588930    3277134       79.00
60 a 69 años        1864621    2221241       83.95
70 a 79 años        1075650    1271842       84.57
80 años a más        550840     647355       85.09

In [12]:
#DIARIO POR FABRICANTE
df_fabricante=df[['FECHA_VACUNACION','FABRICANTE','SEXO']].groupby(['FECHA_VACUNACION','FABRICANTE']).count()
df_fabricante=df_fabricante.reset_index()
df_fabricante=df_fabricante.pivot(index='FECHA_VACUNACION', columns='FABRICANTE', values='SEXO')
df_fabricante=df_fabricante.rename_axis(None, axis=1)
df_fabricante=df_fabricante.fillna(0).astype('int')
df_fabricante

                  ASTRAZENECA  PFIZER  SINOPHARM
FECHA_VACUNACION
2021-02-08                  0       1          3
2021-02-09                  0       0       3846
2021-02-10                  0       0      16583
2021-02-11                  0       1      34096
2021-02-12                  0       2      32363
...                       ...     ...        ...
2021-10-13              37109   40931     114464
2021-10-14              47971   46165      78900
2021-10-15              49873   53986      72492
2021-10-16              78846   72509      92015
2021-10-17              46817   52866      61983

[252 rows x 3 columns]

In [13]:
#ACUMULADO POR FABRICANTE
df_fabricante_cum=df_fabricante.cumsum()
df_fabricante_cum

                  ASTRAZENECA    PFIZER  SINOPHARM
FECHA_VACUNACION
2021-02-08                  0         1          3
2021-02-09                  0         1       3849
2021-02-10                  0         1      20432
2021-02-11                  0         2      54528
2021-02-12                  0         4      86891
...                       ...       ...        ...
2021-10-13            1366408  16707937   13029746
2021-10-14            1414379  16754102   13108646
2021-10-15            1464252  16808088   13181138
2021-10-16            1543098  16880597   13273153
2021-10-17            1589915  16933463   13335136

[252 rows x 3 columns]

In [14]:
from requests_html import HTMLSession
session = HTMLSession()
r = session.get('https://www.gob.pe/pongoelhombro#contador-de-vacunados')
scrap_contador_vacunados = r.html.find('.font-bold.text-3xl')
d = []
for number in scrap_contador_vacunados:
    d.append(number.text)
contador_vacunados = pd.Series(d,index=['total_dosis1', 'total_dosis2','ayer_dosis1','ayer_dosis2','total_dosis','ayer_total_dosis','vacunacion_completa'])
#contador_vacunados.to_json('../resultados/pongo_el_hombro.json')

In [7]:
# DIARIO TACNA
df_tacna=df[df['DEPARTAMENTO'] == 'TACNA']
df_diario_tacna=df_tacna[['FECHA_VACUNACION','DOSIS','SEXO']].groupby(['FECHA_VACUNACION','DOSIS']).count()
df_diario_tacna=df_diario_tacna.reset_index()
df_diario_tacna=df_diario_tacna.pivot(index='FECHA_VACUNACION', columns='DOSIS', values='SEXO')
df_diario_tacna=df_diario_tacna.rename_axis(None, axis=1)
df_diario_tacna.columns=['DOSIS1','DOSIS2','DOSIS3']
df_diario_tacna=df_diario_tacna.fillna(0).astype('int')
df_diario_tacna

                  DOSIS1  DOSIS2  DOSIS3
FECHA_VACUNACION
2021-02-10             2       0       0
2021-02-11           724       0       0
2021-02-12           446       0       0
2021-02-13           165       0       0
2021-02-15            33       0       0
...                  ...     ...     ...
2021-12-01           476     354    1606
2021-12-02           491     308    1488
2021-12-03           404     237     949
2021-12-04           351     239     635
2021-12-05            19      20      29

[252 rows x 3 columns]

In [ ]:
# DIARIO PUNO
df_puno=df[df['DEPARTAMENTO'] == 'PUNO']
df_diario_puno=df_tacna[['FECHA_VACUNACION','DOSIS','SEXO']].groupby(['FECHA_VACUNACION','DOSIS']).count()
df_diario_puno=df_diario_puno.reset_index()
df_diario_puno=df_diario_puno.pivot(index='FECHA_VACUNACION', columns='DOSIS', values='SEXO')
df_diario_puno=df_diario_puno.rename_axis(None, axis=1)
df_diario_puno.columns=['DOSIS1','DOSIS2','DOSIS3']
df_diario_puno=df_diario_puno.fillna(0).astype('int')
df_diario_puno

In [ ]:
# DIARIO MADRE DE DIOS
df_mdd=df[df['DEPARTAMENTO'] == 'MADRE DE DIOS']
df_diario_mdd=df_mdd[['FECHA_VACUNACION','DOSIS','SEXO']].groupby(['FECHA_VACUNACION','DOSIS']).count()
df_diario_mdd=df_diario_mdd.reset_index()
df_diario_mdd=df_diario_mdd.pivot(index='FECHA_VACUNACION', columns='DOSIS', values='SEXO')
df_diario_mdd=df_diario_mdd.rename_axis(None, axis=1)
df_diario_mdd.columns=['DOSIS1','DOSIS2','DOSIS3']
df_diario_mdd=df_diario_mdd.fillna(0).astype('int')
df_diario_mdd

In [18]:
#TOTAL DE 11 A 16 AÑOS
bins = [11,12,13,14,15,16,17]
labels = ['11 años','12 años','13 años','14 años','15 años','16 años'] 
df_11_16 = df
df_11_16['GRUPO_ETARIO'] = pd.cut(df['EDAD'], bins=bins, labels=labels, right=False)
df_11_16 = df_11_16[df_11_16.DOSIS == 2].groupby(['GRUPO_ETARIO'])["DOSIS"].count().reset_index()
df_11_16.rename(columns = {'DOSIS':'DOSIS2'}, inplace = True)
df_11_16=df_11_16.set_index('GRUPO_ETARIO')
df_11_16

              DOSIS2
GRUPO_ETARIO
11 años          165
12 años         8602
13 años         9202
14 años         9262
15 años         9633
16 años        10407

In [19]:
#ACUMULADO DE 11 A 16 AÑOS
df_11_16_diario = df
df_11_16_diario = df[df['EDAD'].isin([11,12,13,14,15,16])]
df_11_16_diario = df_11_16_diario[df_11_16_diario.DOSIS == 2].groupby(['FECHA_VACUNACION'])["DOSIS"].count().reset_index()
df_11_16_diario = df_11_16_diario.set_index('FECHA_VACUNACION')
df_11_16_diario.rename(columns = {'DOSIS':'DOSIS2'}, inplace = True)
df_11_16_diario_cum = df_11_16_diario.cumsum()
df_11_16_diario_cum

                  DOSIS2
FECHA_VACUNACION
2021-04-29             1
2021-05-11             3
2021-05-23             4
2021-05-25             5
2021-05-26             7
...                  ...
2021-10-13         43917
2021-10-14         44908
2021-10-15         45677
2021-10-16         46599
2021-10-17         47271

[110 rows x 1 columns]

In [9]:
# PROVINCIAS CRITICAS
list_provincias_criticas = [
    "ATALAYA",
    "CARABAYA",
    "CHUCUITO",
    "CONDORCANQUI",
    "DATEM DEL MARAÑON",
    "MARISCAL RAMON CASTILLA",
    "MOHO",
    "PACHITEA",
    "PADRE ABAD",
    "PUERTO INCA",
    "PURUS",
    "PUTUMAYO",
    "SAN ANTONIO DE PUTINA",
    "SANDIA",
    "UCAYALI"]
list_provincias_poblacion = [
    50228,
    55528,
    69158,
    52246,
    56533,
    61337,
    23923,
    50022,
    62275,
    33797,
    3793,
    8629,
    26520,
    49202,
    58367,
]
df_ambas_dosis_provincia=df[df['PROVINCIA'].isin(list_provincias_criticas)]
df_ambas_dosis_provincia=df_ambas_dosis_provincia[['PROVINCIA','DOSIS','SEXO']].groupby(['PROVINCIA', 'DOSIS']).count()
df_ambas_dosis_provincia=df_ambas_dosis_provincia.reset_index()
df_ambas_dosis_provincia=df_ambas_dosis_provincia.pivot(index='PROVINCIA', columns='DOSIS', values='SEXO')
df_ambas_dosis_provincia.columns=['DOSIS1','DOSIS2','DOSIS3']
df_ambas_dosis_provincia['POBLACION']=list_provincias_poblacion
df_ambas_dosis_provincia['INDICE']=round(df_ambas_dosis_provincia['DOSIS2']/df_ambas_dosis_provincia['POBLACION']*100,2)
df_ambas_dosis_provincia=df_ambas_dosis_provincia.fillna(0)
df_ambas_dosis_provincia

                         DOSIS1  DOSIS2  DOSIS3  POBLACION  INDICE
PROVINCIA
ATALAYA                   16708   10728     359      50228   21.36
CARABAYA                  26229   17183     681      55528   30.94
CHUCUITO                  30110   20035     446      69158   28.97
CONDORCANQUI              11906    8342     318      52246   15.97
DATEM DEL MARAÑON         14380    9519     194      56533   16.84
MARISCAL RAMON CASTILLA   20790   11742     167      61337   19.14
MOHO                       8925    5414      58      23923   22.63
PACHITEA                  19526   10865     416      50022   21.72
PADRE ABAD                32006   20369     577      62275   32.71
PUERTO INCA               17973   12448     488      33797   36.83
PURUS                      1338     956       7       3793   25.20
PUTUMAYO                   4129    2296     106       8629   26.61
SAN ANTONIO DE PUTINA     14179    9003     130      26520   33.95
SANDIA                    20190   11632     398      49202   23.64
UCAYALI                   23536   13604     715      58367   23.31

In [4]:
# DISTRITOS CRITICOS: AYACUCHO
list_distritos_ayacucho_criticos = [
    'ACOCRO',
    'ANCHIHUAY',
    'CANAYRE',
    'LLOCHEGUA',
    'PUCACOLPA',
    'SAMUGARI',
    'SANTILLANA',
    'TAMBILLO',
    'UCHURACCAY',
    'VINCHOS',
    'CHUNGUI'
]
list_distritos_ayacucho_poblacion = [
    8204,
    3493,
    2314,
    8227,
    2343,
    7421,
    4523,
    5487,
    3122,
    16108,
    4441,
]
df_ambas_dosis_ayacucho=df[df['DISTRITO'].isin(list_distritos_ayacucho_criticos)]
df_ambas_dosis_ayacucho=df_ambas_dosis_ayacucho[['DISTRITO','DOSIS','SEXO']].groupby(['DISTRITO', 'DOSIS']).count()
df_ambas_dosis_ayacucho=df_ambas_dosis_ayacucho.reset_index()
df_ambas_dosis_ayacucho=df_ambas_dosis_ayacucho.pivot(index='DISTRITO', columns='DOSIS', values='SEXO')
df_ambas_dosis_ayacucho.columns=['DOSIS1','DOSIS2','DOSIS3']
df_ambas_dosis_ayacucho['POBLACION']=list_distritos_ayacucho_poblacion
df_ambas_dosis_ayacucho['INDICE']=round(df_ambas_dosis_ayacucho['DOSIS2']/df_ambas_dosis_ayacucho['POBLACION']*100,2)
df_ambas_dosis_ayacucho=df_ambas_dosis_ayacucho.fillna(0)
df_ambas_dosis_ayacucho

            DOSIS1  DOSIS2  DOSIS3  POBLACION  INDICE
DISTRITO
ACOCRO        2306    1366      19       8204   16.65
ANCHIHUAY     1461     896       1       3493   25.65
CANAYRE       1688     603       7       2314   26.06
CHUNGUI       1928    1187      23       8227   14.43
LLOCHEGUA     5227    2538      26       2343  108.32
PUCACOLPA      489     316       6       7421    4.26
SAMUGARI      4021    2278      20       4523   50.36
SANTILLANA    1265     896      30       5487   16.33
TAMBILLO      1764     987      10       3122   31.61
UCHURACCAY     674     297       9      16108    1.84
VINCHOS       3659    2449      54       4441   55.15